<div style="margin:20px;" id="print-section">
  <h2 class="panel-heading text-normal font-weight-bold text-center title">Order Details</h2>
  <br />
  <div class="outerbox">
      <p class="contents"><b>Order ID: </b>{{inCart._id}}<br /><br />
      <b>Order Details: </b></p>
      <table class="table table-hover hvr-border-fade hvr-glow">
        <thead>
          <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <ng-container *ngFor="let p of inCart.productList">
          <tr>
            <td>{{p.product.name}}</td>
            <td>{{p.size}}</td>
            <td>x&nbsp;{{p.qty}}</td>
            <td>{{p.qty*p.product[p.size]|currency:'USD':'1.0-2'}}</td>
          </tr>
        </ng-container>
        <tfoot>
          <tr>
            <th colspan="3">Order Total (including tax): </th>
            <th>{{inCart.totalCost|currency:'USD':'1.0-2'}}</th>
          </tr>
        </tfoot>
      </table>
    <br />
      <p class="contents">
        <b>Payment Details: </b><br />
        <span class="BigFont">Card Holder Name:  {{inCart.payment.holderName}}<br />
        Card Number: {{displayCardNumber}}</span><br />
      </p>
      <br />
      <p class="contents">
      <b>Selected Store Details: </b><br />
        {{inCart.placeName}}<br />
        {{inCart.placeAddress}}<br />
      </p>
    <br />
    <button class="print-btn" type="button" id="print_invoice" (click)="print();">Print</button>
  </div>
</div>
