<header>
  <section class="header-content">
    <div><h1 class="header-title">Taste and see coffee</h1></div>
    <div class="coffee-mug"></div>
  </section>
</header>
<div id="home" class="home">  
   <div class="text-vcenter">
   <h3 ><strong>Visit, Us Soon</strong></h3>
   </div>
</div>
<div id="about" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="assets/images/About-Us.jpg" alt="" />
        <img src="assets/images/bookcafe.jpg" alt="" />
      </div>
      <div class="col-sm-6 text-center">
        <h2><h1 class="header-title"></h1></h2>
        <p class="BigFont">
          Since 1900, NU Hideout has been providing Northeastern students, residents and tourists with sustenance for the mind and body.
          Northeastern Cafe is the perfect place to catch up with friends, study for your exam, grab brunch, or browse our wide selection of books and magazines.
          We offer free wifi, an award-winning magazine selection, a full service restaurant, books, cards, gifts, and, above all, a unique Boston experience.
          <br />Check out the Northeastern Cafe’s extensive menu, featuring fresh juice and smoothies, as well as breakfast, lunch and dinner.
          <br />Be sure to look at our events calendar to see what’s happening tonight!
        </p>
        <p class="lead"><strong><b>Know Us More Sometime.. </b></strong></p>
      </div>
    </div>
  </div>
</div>
<div id="services" class="pad-section">
  <div class="container"><h2 class="text-center"></h2>
      <div class="row text-center">
        <div id="Award"></div>
      </div>
  </div>
</div>
<div id="about" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p class="lead" style="font-size:xx-large"><b>Explore Cafe's Nearby </b></p>
        <a class="btn" [routerLink]="['/findstores']">
          <img src="assets/images/findlocation.jpg" alt="" style="height:50px;width:50px;" />
        </a>
      </div>
      <div class="col-sm-6 text-center">
        <h2><h1 class="header-title"></h1></h2>
        <p class="BigFont" style="font-size:x-large;">
          <strong>
            <b>
              Won't you please <a routerLink="/login">SIGN IN</a> or <a routerLink="/register">REGISTER</a>?
            </b>
          </strong>
        </p>
        <p class="lead"><b>Get Exciting Offers and Discounts! </b></p>
      </div>
    </div>
  </div>
</div>
<div id="services" class="pad-section">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-3 col-xs-6">
        <i class="glyphicon fa fa-home fa-fw" style="font-size:48px;"> </i>
        <h5>Address</h5>
        <span>374 Huntington Ave,<br>Boston,MA 02115</span>
      </div>
      <div class="col-sm-3 col-xs-6">
        <i class="glyphicon fa fa-clock-o" style="font-size:48px;"> </i>
        <h5>Operating Hours</h5>
          <span>Mon-Sat: 6:30am - 8:00pm<br>Sun: 9-12:00pm</span>
      </div>
      <div class="col-sm-3 col-xs-6">
        <i class="glyphicon fa fa-phone" style="font-size:48px;"> </i>
        <h5>Contact us</h5>
        <p>(617 ) 982-7183</p>
      </div>
      <div class="col-sm-3 col-xs-6">
        <i class="glyphicon fa fa-book" style="font-size:48px;"> </i>
        <h5>Events</h5>
        <p> Dialogue on current day Politics</p>
      </div>
    </div>
  </div>
</div>
<!-- footer -->
<footer>
  <div class="container">
    <p class="text-right"><b>Copyright &copy; NU Hideout 2018</b></p>
  </div>
</footer>
<!-- /footer -->
