/*Font Color*/

$nav-bar-color: rgb(0, 185, 99);
$workspace-color: rgba($nav-bar-color, 0.1);
$primary-color:rgb(250, 250, 250);
$secondary-color:rgb(29, 173, 161);
$tertiary-color:rgb(29, 132, 173);
$blackish-color:rgb(20, 19, 19);
/*Sizes*/


/*Font family*/

$font-sticky-text: 'Lato',
sans-serif;
$font-sticky-title: 'Roboto',
sans-serif;
