<div class="container-fluid">
  <div class="title text-center">
    <br /><br />
    <h1 class="text-center font-weight-bold text-danger align-middle" style="font-size:60px">404 <span class="blockquote text-secondary" style="font-size:60px">Not Found</span></h1>
    <hr>
    <h4 class="text-center font-italic">We are sorry but the page you are looking for does not exist.</h4>
    <br /><hr><br />
    <div>
      <img class="animated-gif" src="assets/images/coffee_tp.gif">
    </div>
  </div>
</div>
